<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/styles.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/profile.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/registration.css">
    <link rel="stylesheet" href="/styles/responsive.css" />
</head>
<body>
    <div>
        <% include navbar.ejs %>
        <div class="edit-profile-header">
            <h1>Edit Profile</h1>
            <h4>Here you can make any changes you want to your profile as it currently exists.</h4>
        </div>
        <% if(msg){ %>
        <div class="error-box">
            <h1>Error</h1>
            <p class="error-msg"><%= msg %></p>
        </div>
        <% } %>
        <form action="profileEdit" method="post" class="register-form">
            <label for="firstName">First Name</label>
            <input type="text" class="text-input" name="firstName" value="<%= data.firstName %>"/>
            <label for="age">Age</label>
            <input type="text" class="text-input" name="age" value="<%= data.age %>">
            <label for="sex">Sex</label>
            <select class="button-input" name="sex">
                <option id="male" value="male" <%= (data.sex=='male')?'selected':'' %>>Male</option>
                <option id="female" value="female" <%= (data.sex=='female')?'selected':'' %>>Female</option>
            </select>
            <label for="height">Height</label>
            <div class="height-input">
                <select class="button-input" name="heightFeet">
                    <option id="foot-0" value="0" <%= (data.heightFeet==0)?'selected':'' %>>0</option>
                    <option id="foot-1" value="1" <%= (data.heightFeet==1)?'selected':'' %>>1</option>
                    <option id="foot-2" value="2" <%= (data.heightFeet==2)?'selected':'' %>>2</option>
                    <option id="foot-3" value="3" <%= (data.heightFeet==3)?'selected':'' %>>3</option>
                    <option id="foot-4" value="4" <%= (data.heightFeet==4)?'selected':'' %>>4</option>
                    <option id="foot-5" value="5" <%= (data.heightFeet==5)?'selected':'' %>>5</option>
                    <option id="foot-6" value="6" <%= (data.heightFeet==6)?'selected':'' %>>6</option>
                    <option id="foot-7" value="7" <%= (data.heightFeet==7)?'selected':'' %>>7</option>
                    <option id="foot-8" value="8" <%= (data.heightFeet==8)?'selected':'' %>>8</option>
                    <option id="foot-9" value="9" <%= (data.heightFeet==9)?'selected':'' %>>9</option>
                </select>
                <select class="button-input" name="heightInches">
                    <option id="inch-0" value="0" <%= (data.heightInches==0)?'selected':'' %>>0</option>
                    <option id="inch-1" value="1" <%= (data.heightInches==1)?'selected':'' %>>1</option>
                    <option id="inch-2" value="2" <%= (data.heightInches==2)?'selected':'' %>>2</option>
                    <option id="inch-3" value="3" <%= (data.heightInches==3)?'selected':'' %>>3</option>
                    <option id="inch-4" value="4" <%= (data.heightInches==4)?'selected':'' %>>4</option>
                    <option id="inch-5" value="5" <%= (data.heightInches==5)?'selected':'' %>>5</option>
                    <option id="inch-6" value="6" <%= (data.heightInches==6)?'selected':'' %>>6</option>
                    <option id="inch-7" value="7" <%= (data.heightInches==7)?'selected':'' %>>7</option>
                    <option id="inch-8" value="8" <%= (data.heightInches==8)?'selected':'' %>>8</option>
                    <option id="inch-9" value="9" <%= (data.heightInches==9)?'selected':'' %>>9</option>
                    <option id="inch-10" value="10" <%= (data.heightInches==10)?'selected':'' %>>10</option>
                    <option id="inch-11" value="11" <%= (data.heightInches==11)?'selected':'' %>>11</option>
                    <option id="inch-12" value="12" <%= (data.heightInches==12)?'selected':'' %>>12</option>
                </select>
            </div>
            <label for="startingWeight">Starting Weight</label>
            <input type="text" class="text-input" name="startingWeight" value="<%= data.startingWeight %>"/>
            <label for="targetWeight">Target Weight</label>
            <input type="text" class="text-input" name="targetWeight" value="<%= data.targetWeight %>"/>
            <label class="pw-label" for="passWord">Please enter your password below to verify your changes.</label>
            <input type="password" class="text-input" name="passWord"/>
            <input class="btn-input" type="submit" value="Edit Profile"/>
        </form>
    </div> 
    <% include footer.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/scripts.js"></script>
</body>
</html>